body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #D2B48C, #8B4513);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #ffffff;
}

.input-section {
  margin-bottom: 20px;
}

input[type="text"], input[type="time"] {
  padding: 12px;
  width: 80%;
  margin: 12px 0;
  border: 2px solid #8B4513;
  background-color: #F5DEB3;
  color: #333;
  font-size: 16px;
  border-radius: 8px;
}

button {
  padding: 12px 24px;
  background-color: #c59c62;
  color: rgb(9, 6, 6);
  border: 2px solid #0f0b28;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #6A5ACD;
  border-color: #4B0082;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #8B4513;
  color: white;
  margin: 12px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  background-color: #D2B48C;
  color: #333;
}

li button {
  background-color: #B22222;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

li button:hover {
  background-color: #8B0000;
}
