body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #121212, #4CAF50);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #ffffff;
}

.input-section {
  margin-bottom: 20px;
}

input[type="text"], input[type="time"] {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 2px solid #4CAF50;
  background-color: #1e1e1e;
  color: white;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 2px solid #555;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
  border-color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  background-color: #4CAF50;
  color: white;
}

li button {
  background-color: #f44336;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

li button:hover {
  background-color: #d32f2f;
}
